*{
    padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  height: 100%;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-image: url("../images/702620.png");
  background-size: cover;

}

section::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}


html {
  overflow-y: scroll;
  overflow-x: hidden;
  /* cursor: ; */
  
}

@media screen and (max-width: 767px) {

  section{
  background-image: url("../images/12603.jpg");
  background-size: cover;

  /* transform: scale(1.1) */

  }
}
